<% include header %>
<div class="container">
    <div><ul>
        <p>I am graduated from VJIT in ECE department, affliated to JNTUH, Hyderabad, India in 2016. I have worked for TechMahindra as a manual tester for 2 years in Mumbai, Maharashtra, India. The client that I have worked for is AT&T.</p>
      </div>
      <div>
      <p>In my free time I would like to watch movies. I love dancing, partying and playing volleyball as well. Also I enjoy playing video games.</p>
        </p>
    </div></ul>
       </div>
       </div>
</div>

<% include footer %>
