
  <% include header %>
  <script type="text/javascript">
  function percentageCalculator() {
    percent = document.percentage.percent.value/100;
    howMuch = percent*document.percentage.howMuch.value;
    document.percentage.output.value = howMuch;
    }

  </script>


  <form name=percentage>
     <table>
        <tr>
           <td align=middle colSpan=3><B><FONT size=4>Percentage Calculator</FONT></B> 
           </td>
          </tr>
          <tr>
           <td>What is <input size=5 name=percent> % of <INPUT size=5 name=howMuch>?</td>
           <td>Answer: <input maxLength=50 size=9 name=output></td>
           <td><input onclick=percentageCalculator() type=button value=Calculate></td>
        </tr>
        <tr>
           <td align=middle colSpan=3>
              <input type=reset value=Reset>
           </td>
        </tr>
     </table>
  </form>
  <% include footer %>


