<!-- function percentageCalculator() {
  percent = document.percentage.percent.value/100;
  howMuch = percent*document.percentage.howMuch.value;
  document.percentage.output.value = howMuch;
  }
  function rateCalculator() {
  inputNumber = document.percentage.inputNumber.value;
  number = document.percentage.number.value;
  percentOutput = (a/b)/100;
  document.percentage.percentOutput.value = percentOutput
  }
  -->
  <!-- <FORM name=form1 method="post">
     <TABLE cellSpacing=1 cellPadding=1 border=1>
       <TBODY>
       <TR>
         <TD align=middle colSpan=3><B><FONT size=4>Percentage Calculator</FONT></B> 
           </TD>
       <TR>
         <TD>What is <INPUT size=5 name=a> % of <INPUT size=5 name=b>?</TD>
         <TD>Answer: <INPUT maxLength=40 size=5 name=total1></TD>
         <TD><INPUT onclick=perc1() type=button value=Calculate></TD>
       <TR>
         <TD><INPUT size=5 name=c> is what percent of <INPUT size=5 
     name=d>?</TD>
         <TD>Answer: <INPUT size=5 name=total2> %</TD>
         <TD><INPUT onclick=perc2() type=button value=Calculate></TD>
       <TR>
         <TD align=middle 
     colSpan=3><INPUT type=reset value=Reset></TD></TR></TBODY></TABLE></FORM> -->
  <% include header %>
  <script type="text/javascript">
  function percentageCalculator() {
    percent = document.percentage.percent.value/100;
    howMuch = percent*document.percentage.howMuch.value;
    document.percentage.output.value = howMuch;
    }
    // function rateCalculator() {
    // inputNumber = document.percentage.inputNumber.value;
    // number = document.percentage.number.value;
    // percentOutput = (a/b)/100;
    // document.percentage.percentOutput.value = percentOutput
    // }
  </script>


  <form name=percentage>
     <table>
        <tr>
           <td align=middle colSpan=3><B><FONT size=4>Percentage Calculator</FONT></B> 
           </td>
        <tr>
           <td>What is <input size=5 name=percent> % of <INPUT size=5 name=howMuch>?</td>
           <td>Answer: <input maxLength=50 size=9 name=output></td>
           <td><input onclick=percentageCalculator() type=button value=Calculate></td>
        </tr>
        <!-- <tr>
           <td><input size=5 name=inputNumber> is what percent of <INPUT size=5 name= number>?</td>
           <td>Answer: <input size=5 name=percentOutput> %</td>
           <td><input onclick=rateCalculator() type=button value=Calculate></td>
        </tr> -->
        <tr>
           <td align=middle colSpan=3>
              <input type=reset value=Reset>
           </td>
        </tr>
     </table>
  </form>
  <% include footer %>


