<% include header %>
      <div class="T1">
      <h1>How Can We Help You Today??</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p> </p>
        </div>
    </div>
    <div class="row">
       <div class="col-md-3">
    </div>
    <form class="col-md-6">
    <div class="form-group">
    <label for="First">Firstname:</label>
    <input type="name" class="form-control" id="firstname">
      </div>
      <div class="form-group">
        <label for="Last">Lastname:</label>
        <input type="name" class="form-control" id="lastname">
      </div>
    <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email1">
    </div>
    <div class="form-group">
    <label for="Query:">Query:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
     
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

   

    <iframe width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


    <% include footer %>
