  <% include header %>
<div class="container">
    <div><ul>
        <p> I am graduated from VJIT in ECE department, affliated to JNTUH, Hyderabad, India in 2016. I have worked for TechMahindra as a manual tester for 2 years in Mumbai, Maharashtra, India. The client that I have worked for is AT&T.</p>
        <div class="tab"><img class = "profile img-circle" src="/images/Profile_pic.jpg" alt="profile picture"></div>
      </div>
      <div>
      <p> CAREER OBJECTIVE:
        Seeking a challenging career with a competitive organization that will provide me opportunities to apply my knowledge & skills and contribute my enough strength to the growth of the organization.
        </p>
    </div></ul>
  <div><ul><p> SKILLS: I have hands-on experience in SQL, PLSQL, UNIX shell scripting, Core Java and have good communication skills and writing skills.

    </p></ul></div>
    <div><ul><p>
        INTERESTS: 
        In my free time I would like to watch movies. I love dancing, partying and playing volleyball as well. Also I enjoy playing video games.
    </p></ul></div>
       
       <div><ul>
         <p>
          CONTACT NO: 9494218051 Email-id: suryarajkp@gmail.com
         </p>
       </ul></div>
       
       <div class="tab">
            <h3>Education Details:</h3>
       <table class = "T1">
            <tr>
                <th>Qualification</th>
                <th>University</th>
                <th>Year of Passing</th>
            </tr>
            <tr>
                <td>B.Tech</td>
                <td>VJIT</td>
                <td>2016</td>
            </tr>
            <tr>
            <td>Intermediate</td>
            <td>Sri Chaitanya Junior college</td>
            <td>2012</td>
            </tr>
            <tr>
            <td>SSC</td>
            <td>Milton GEM High School</td>
            <td>2010</td>
            </tr>
            </table>
        </div>
      </div>
</div>

<% include footer %>

